@using SouqElGomalAdmin.ViewModels
@model ProductModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>SougEl-Gomla Admin</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">

    <!-- CSS W3 Animation -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap Custom styles for this template -->
    <link href="sidebars.css" rel="stylesheet">

    <style>
        #formcontainer {
            margin: 0 auto;
        }
        .field-validation-error {
            color: red;
        }
    </style>

</head>
<!------------------------------------------------------------------------------------------------->
<body style=" background-color: #DEDEDE " class="active">

    <div class="row">

        <div>
            @Html.Partial("_SideBar2");
        </div>

        <div class="col-12">

            <!--add Category-->

            <div class="row">
                <!-- main -->
                <div class="col-12 col-md-10 mt-2 mb-2 border border-1 rounded" id="formcontainer" style="background-color: #FFF ">
                    <h4 class="mt-4">EDIT-Product</h4>
                    <hr />

                    @using (Html.BeginForm("Edit_Product", "product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.TextBoxFor(i => i.ID, new { @type = "hidden" });

                        @Html.LabelFor(i => i.Name);
                        @Html.TextBoxFor(i => i.Name, new { @class = "form-control", required = "required" });
                        @Html.ValidationMessageFor(i => i.Name);
                        <div style="color:red;">@ViewBag.existingName3</div>
                        <embed />

                        @Html.LabelFor(i => i.CategoryID);
                        @Html.DropDownListFor(i => i.CategoryID, ViewBag.cat3 as SelectList, "--Category--", new { @class = "form-control", required = "required" });
                        @Html.ValidationMessageFor(i => i.CategoryID);
                        <br />

                        @Html.LabelFor(i => i.Price);
                        @Html.TextBoxFor(i => i.Price, new { @class = "form-control", Type = "number", min = "0", required = "required" });
                        @Html.ValidationMessageFor(i => i.Price);
                        <br />

                        @Html.LabelFor(i => i.Quantity);
                        @Html.TextBoxFor(i => i.Quantity, new { @class = "form-control", Type = "number", min = "0", required = "required" });
                        @Html.ValidationMessageFor(i => i.Quantity);
                        <br />

                        <div>@Html.LabelFor(i => i.UnitWeight)</div>
                        @Html.TextBoxFor(i => i.UnitWeight, new { @class = "form-control", type = "number", min = "0", style = "width:70%; float:left;", value = ViewBag.number })
                        @Html.DropDownList("unit", new List<SelectListItem>{
                        new SelectListItem{Text="gm" ,Value="0" },
                        new SelectListItem{Text="kg" ,Value="1" },
                        new SelectListItem{Text="ml" ,Value="2" },
                        new SelectListItem{Text="L" ,Value="3" }
                        }, "Select Unit", new { @class = "form-control", type = "number", min = "0", style = "width:30%; float:right;", value = ViewBag.unit })
                        @Html.ValidationMessageFor(i => i.UnitWeight)
                        <br />
                        <br />

                        @Html.LabelFor(i => i.PackgesNumber);
                        @Html.TextBoxFor(i => i.PackgesNumber, new { @class = "form-control", Type = "number", min = "0", required = "required" });
                        @Html.ValidationMessageFor(i => i.PackgesNumber);
                        <br />

                        @Html.LabelFor(i => i.Description);
                        @Html.TextBoxFor(i => i.Description, new { @class = "form-control", required = "required" });
                        @Html.ValidationMessageFor(i => i.Description);
                        <br />

                        <input type="file" name="Image2" accept="image/*" />
                        <br />
                        <br />
                        <input type="submit" value="Edit Product" class="btn btn-primary" style="background-color:darkorange; margin:10px 0; border:1px solid darkorange" />
                    }

                </div>
            </div>

        </div>

    </div>
    <!------------------------------------------------------------------------------------------------->
    <!--Bootstrap js-->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script>
            /* global bootstrap: false */
            (function () {
                'use strict'
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                    new bootstrap.Tooltip(tooltipTriggerEl)
                })
            })()

    </script>

    <!------------------------------------------------------------------------------------------------->

</body>
</html>
