@using SouqElGomalAdmin.ViewModels
@model CategoryModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>SougEl-Gomla Admin</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">

    <!-- CSS W3 Animation -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap Custom styles for this template -->
    <link href="sidebars.css" rel="stylesheet">

    <style>
        #formcontainer
        {
            margin: 0 auto;
        }
        .field-validation-error {
            color: red;
        }
    </style>

</head>
<!------------------------------------------------------------------------------------------------->
<body style=" background-color: #DEDEDE " onload="BarFunction();" class="active">

    <div class="row">

        <div >

            @Html.Partial("_SideBar2");
        </div>

        <div class="col-12">

            <!--add Category-->

            <div class="row">
                <!-- main -->
                <div class="col-12 col-md-10 mt-2 mb-2 border border-1 rounded" id="formcontainer" style="background-color: #fff ">
                    <h4 class="mt-4">ADD-Category</h4>
                    <hr />

                    @using (Html.BeginForm("Add_category", "categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        @Html.LabelFor(i => i.Name);
                        @Html.TextBoxFor(i => i.Name, new { @class = "form-control" });
                        @Html.ValidationMessageFor(i => i.Name);
                        <div style="color:red;">@ViewBag.existingName</div>

                        @Html.LabelFor(i => i.Description);
                        @Html.TextBoxFor(i => i.Description, new { @class = "form-control" });
                        @Html.ValidationMessageFor(i => i.Description);
                        <br />
                        <input type="file" name="Image1" accept="image/*" />
                        <br />
                        <br />

                        <input type="submit" value="Add Category" class="btn btn-primary" style="background-color:darkorange; margin:10px 0; border:1px solid darkorange" />
                    }

                </div>
            </div>

        </div>

    </div>
    <script>
        function BarFunction() {
            document.getElementById('Add_Categories').setAttribute("class", "nav-link text-white active");
        }
    </script>
    <!------------------------------------------------------------------------------------------------->
    <!--Bootstrap js-->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script>
        /* global bootstrap: false */
        (function () {
            'use strict'
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                new bootstrap.Tooltip(tooltipTriggerEl)
            })
        })()

    </script>

    <!------------------------------------------------------------------------------------------------->

</body>
</html>
