@using SouqElGomalAdmin.ViewModels
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<UserModel>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Sidebars · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">

    <!-- CSS W3 Animation -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap Custom styles for this template -->
    <link href="sidebars.css" rel="stylesheet">


    <!--forms style-->
    <style>
        h4 {
            text-align: center;
            font-weight: bold;
        }

        .btn {
            background-color: #ed872f;
            border: #ed872f;
            color: white;
        }

            .btn:hover {
                background-color: #b54c26;
                border: #b54c26;
                color: white;
            }

            .btn.delete {
                background-color: #DC3645;
                border: #DC3645;
                color: white;
            }

         .btn.delete:hover {
            background-color: #BC2E3C;
            border: #BC2E3C;
            color: white;
         }

        .container {
            background-color: #efffed;
        }

        #formcontainer,
        .card {
            background-color: #d2e7cf;
        }

        i {
            color: #ed872f;
        }

        .active {
            color: #50b141;
            text-decoration: none;
        }

            .active i {
                color: #50b141;
            }

        .nav-link {
            color: #ed872f;
        }

            .nav-link:hover {
                color: #b54c26;
            }

        * {
            font-family: Arial, Helvetica, sans-serif;
        }
        /*# sourceMappingURL=style.css.map */
    </style>

    <style>
        #formcontainer {
            margin: 0 auto;
        }


        .pagination > .active > a:not([href]):not([class]), a:not([href]):not([class]):hover {
            color: #fff;
            background-color: #f98152;
            margin: 3px;
            padding: 7px 10px;
            text-decoration: none;
        }

        .pagination > li > a {
            color: #fff;
            background-color: #fb9b50;
            margin: 3px;
            padding: 7px 10px;
            text-decoration: none;
        }

    </style>
</head>
<!------------------------------------------------------------------------------------------------->
<body style=" background-color: #DEDEDE " onload="BarFunction();">
    <div class="row">

        <div class="col-2">
            @Html.Partial("_SideBar");

        </div>

        <div class="col-10">

            <!--Get Users-->
            <div class="row">
                <div class="col-12 col-md-10 mt-2 mb-2 border border-1 rounded" id="formcontainer" style="background-color: #fff">
                    <h4 class="mt-4">Users</h4>


                    <hr />

                    @using (Html.BeginForm("Index","users",FormMethod.Get, new {@class="form-control"}))
                    {
                        <b>Search By: </b> @Html.RadioButton("SearchBy", "ID") <text>ID</text>
                                            @Html.RadioButton("SearchBy", "Name",true) <text>Name</text>  <br />
                                             <span><input type="text" placeholder="Search" name="Search" class="form-control" style="width:300px; float:left;" /></span>
                                             <span><input type="submit" value="Search" class="btn btn-primary"/></span>
                    }
                    <hr />

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Image</th>
                                <th>Details</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model)
                            {
                                if (i.Image != null)
                                {
                                    var base64 = Convert.ToBase64String(i.Image);
                                    var imgsrc = string.Format("data:image/gif; base64,{0}", base64);


                                    <tr>
                                        <td>@i.ID</td>
                                        <td>@i.Name</td>
                                        <td>
                                            <img src="@imgsrc" style="max-width: 100px; max-height: 100px; border:solid 1px gray;" />
                                        </td>
                                        <th>@Html.ActionLink("Details", "UserDetails", new { id = i.ID }, new { @class = "btn btn-primary" })</th>
                                        <th>@Html.ActionLink("Delete", "Delete_User", new { id = i.ID }, new { @class = "btn btn-primary  delete" })</th>

                                    </tr>
                                }

                                else
                                {
                                    <tr>
                                        <td>@i.ID</td>
                                        <td>@i.Name</td>
                                        <td><div style="width:100px; height:100px; background-color:gray;"></div></td>
                                        <th>@Html.ActionLink("Details", "UserDetails", new { id = i.ID }, new { @class = "btn btn-primary" })</th>
                                        <th>@Html.ActionLink("Delete", "Delete_User", new { id = i.ID }, new { @class = "btn btn-primary  delete" })</th>

                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                    <div id="Buttons">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page })) @*Buttons of pages*@
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script>
        function BarFunction() {
            document.getElementById('Show_Users').setAttribute("class", "nav-link text-white active");
        }
    </script>

    <!------------------------------------------------------------------------------------------------->
    <!--Bootstrap js-->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script>
        /* global bootstrap: false */
        (function () {
            'use strict'
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                new bootstrap.Tooltip(tooltipTriggerEl)
            })
        })()

    </script>


    <!------------------------------------------------------------------------------------------------->
</body>
</html>
