@using SouqElGomalAdmin.ViewModels
@using PagedList;
@model IPagedList<adminModel>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>SougEl-Gomla Admin</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">

    <!-- google chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <!-- CSS W3 Animation -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap Custom styles for this template -->
    <link href="sidebars.css" rel="stylesheet">

    <style>
        body {
            min-height: 100vh;
            min-height: -webkit-fill-available;
        }

        html {
            height: -webkit-fill-available;
        }
    </style>

    <!--cards style-->
    <style>
        .card {
            border-radius: 10px;
            animation-duration: 2s;
            border: solid lightgray 2px;
        }

        .col-3 > img {
            width: 70px;
            align-self: center;
        }
    </style>

    <style>
        #formcontainer {
            margin: 0 auto;
        }
        h5{
            margin:0 auto;
            margin-top:10px;
        }
        .card > hr {
            width: 20%;
            height: 3px;
            color:blue;
            margin:0 auto;
        }


        @@media(min-width: 481px) and (max-width: 767px) {
            .col-6.card {
                width: 100%;
            }

            #myChart2 {
                width: 90%;
            }

            .col-3.card {
                width: 50%;
            }

            .table {
                width: 100%;
            }
        }
    </style>
</head>


<!---------------------------------------------------------------------------------------------------->


<body style=" background-color: #DEDEDE " onload="BarFunction();"  class="active">

    <div class="row">

        <div >
            @Html.Partial("_SideBar2");
        </div>

        <div class="col-12" id="forMenu">


            <!--Cards-->
            <div class="row" style="margin:7px 15px;">

                <div class=" col-3  card" style=" background-image: url('../../pics/grad-1.png'); ">
                    <img src="~/pics/IconsAdmin-02.png" />
                    <div class="card-body">
                        <h4 class="card-title" style="color:#fff">Categories</h4>
                        <h3 class="card-title" style="color:#fff">@ViewBag.TotalCategories</h3>
                        <div class="btn" style="color:#fff"><a href="/categories/Index" style="color:white;">More--></a></div>
                    </div>
                </div>
                <div class="col-3  card" style=" background-image: url('../../pics/grad-2.png'); ">
                    <img src="~/pics/IconsAdmin-03.png" />
                    <div class="card-body">
                        <h4 class="card-title" style="color:#fff">Products</h4>
                        <h3 class="card-title" style="color:#fff">@ViewBag.TotalProduct</h3>
                        <div class="btn" style="color:#fff"><a href="/product/Index" style="color:white;">More--></a></div>
                    </div>
                </div>
                <div class="col-3 card" style=" background-image: url('../../pics/grad-3.png'); ">
                    <img src="~/pics/IconsAdmin-01.png" />
                    <div class="card-body">
                        <h4 class="card-title" style="color:#fff">Users</h4>
                        <h3 class="card-title" style="color:#fff">@ViewBag.TotalUsers</h3>
                        <div class="btn" style="color:#fff"><a href="/users/Index" style="color:white;">More--></a></div>
                    </div>
                </div>
                <div class="col-3 card" style=" background-image: url('../../pics/grad-4.png'); ">
                    <img src="~/pics/IconsAdmin-00.png" />
                    <div class="card-body">
                        <h3 class="card-title" style="color:#fff">Orders</h3>
                        <h3 class="card-title" style="color:#fff">@ViewBag.TotalOrders</h3>
                        <div class="btn" style="color:#fff"><a href="/order/Index" style="color:white;">More--></a></div>
                    </div>
                </div>

            </div>



            <!--Last Activities-->
            <div class="row" style="margin:7px 15px;">

                <div class="col-6 card">
                    <canvas id="myChart2"></canvas>

                    <script>
                        var xValues = ["Products", "Categories", "Users"];
                        var yValues = [@ViewBag.TotalProduct, @ViewBag.TotalCategories, @ViewBag.TotalUsers];
                        var barColors = [
                            "#f98125",
                            "#5b84c4",
                            "#193a6f"
                        ];

                        new Chart("myChart2", {
                            type: "pie",
                            data: {
                                labels: xValues,
                                datasets: [{
                                    backgroundColor: barColors,
                                    data: yValues
                                }]
                            }
                        });
                    </script>

                </div>

                <div class="col-6 card">
                    <h5>Admins</h5>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model)
                            {
                                <tr>
                                    <td>@i.id</td>
                                    <td>@i.name</td>
                                    <td>@i.email</td>
                                </tr>
                            }
                        </tbody>
                       
                    </table>
                </div>
            </div>

                <!--Orders-->
                <div class="row" style="margin:7px 15px;">

                    <div class="col-12 card">
                        <h5>Orders</h5>
                        <hr />
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in ViewBag.orders)
                                {
                                    <tr>

                                        <td>@i.ID</td>
                                        <td>@i.OrderDate</td>

                                        @if (i.State == 0)
                                        {
                                            <td><div style="width: 10px; height: 10px; border-radius: 50px; background-color: darkgoldenrod; Display:inline-block;"></div><b style="color:darkgoldenrod;"> Pending</b></td>
                                        }
                                        @if (i.State == 1)
                                        {
                                            <td><div style="width: 10px; height: 10px; border-radius: 50px; background-color: blue; Display:inline-block;"></div><b style="color:blue;"> On The Way</b></td>
                                        }
                                        @if (i.State == 2)
                                        {
                                            <td><div style="width: 10px; height: 10px; border-radius: 50px; background-color: green; Display:inline-block;"></div><b style="color:green;"> Delivard</b></td>
                                        }

                                    </tr>
                                }

                            </tbody>

                        </table>
                    </div>


                </div>
         </div>
        

</div>
    <script>
        function BarFunction() {
            document.getElementById('Dashboard').setAttribute("class", "nav-link text-white active");
        }
    </script>
    <!------------------------------------------------------------------------------------------------------>
    <!--Bootstrap js-->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script>
        /* global bootstrap: false */
        (function () {
            'use strict'
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                new bootstrap.Tooltip(tooltipTriggerEl)
            })
        })()

    </script>
</body>
</html>
